# Example configuration for FlatFinder

[E-Mail] # Optional, but recommended
Address=example@mail.com
SMTP-Server=mail.com
SMTP-User=example
SMTP-Password=PASSWORD
Recipient=recipient@example.com

[Prowl] # Optional
API=1234
Priority=0

[Config] # Optional
Logfile=ff.log
Interval=30
Blacklist=Steglitz;Friedenau

[URL] # Required. Leave field empty if you do not want to use a website
EbayKleinanzeigen=http://kleinanzeigen.ebay.de/anzeigen/s-wohnung-mieten/berlin/anzeige:angebote/preis::550/c203l3331
WGGesucht1ZimmerWohnung=http://www.wg-gesucht.de/1-zimmer-wohnungen-in-Berlin.8.1.1.0.html?filter=e623eaeef30a694f14408b2941662eff8412e24f029c6ccf2e
WGGesuchtWohnung=http://www.wg-gesucht.de/wohnungen-in-Berlin.8.2.1.0.html?filter=d71e80f8b21e4639141963c897f6591699a77533029c6ccf2e
WohnungsBoerse=http://www.wohnungsboerse.net/searches/index/id:2825/marketing_type:miete/object_type:1/maxprice:550/minrooms:1/minsize:40/state:3/cities:2825/districts:789;790;792;795;812;814;817;824;832;843;846;850;852;854/sort:Estate.importdate/direction:DESC
Immowelt=http://www.immowelt.de/immobilien/immoliste.aspx?geoid=108110&etype=1&esr=2&roomi=1&prima=425&wflmi=40
ImmobilienScout24=http://www.immobilienscout24.de/Suche/S-2/Wohnung-Miete/Berlin/Berlin/-/1,00-/40,00-/EURO--425,00
Immonet=http://www.immonet.de/immobiliensuche/sel.do?fromarea=40.0&listsize=25&marketingtype=2&suchart=1&objecttype=1&toprice=425.0&district=7597&district=7899&district=7930&district=7876&district=7889&district=7879&district=7878&district=7906&district=7933&district=80066&district=7605&district=54793&district=7926&district=7931&district=7881&district=84317&district=7602&district=7922&district=7935&parentcat=1&fromrooms=1.0&city=87372&pageoffset=1&sortby=19